

<div class="container">
  <h1>Displaying Events</h1>

  <table>
    <thead>
      <tr>
        <!-- Define headers here -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%- @events.each do |event| -%>
        <tr>
          <!-- Define each attribute here -->
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>


